#detailedDescription{
    background-color:lightgrey;
    width: 50%;
    height: 50%;
    scroll-behavior: smooth;
}



.center{
    padding-left: 80px;
    width:1000px;
    overflow: auto;
    
}
body{
    background-image: url("11004-NN4U94.jpg");
}


 